@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito Sans', sans-serif !important;
}

.navbar {
  border-radius: 8px !important;
}

.card {
  box-shadow: 1px 4px lightgray !important;
  border: none !important;
  border-radius: 8px !important;
}
